#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #FFF7ED;
  color: #000000;
  position: sticky;
  top: 0;
  z-index: 100;
}

header > a {
  margin: 2rem;
  font-weight: 900;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 0 1rem;
  font-weight: 400;
  color: #4D4D4D;
}

header > nav > a {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid transparent;
    padding: 0 0.2rem;
}

header > nav > a:hover {
    border-bottom: 1px solid #000000;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page {
  background-image: url('./assets/images/home-page.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
}

.home-page > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
}

.home-page > .content > h1 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 800;
}

.home-page > .content > p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
}

.home-page > .content > a {
  background-color: #FF8C38;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  margin: 1.5rem 0;
  text-align: center;
  text-decoration: none;
}

.about-page{
  background-color: #FFF7ED;
  color: #000000;
  display: block;
}

.about-page > .image-container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 13rem;
  overflow: hidden;
}

.about-page > .image-container > img {
  width: 100%;
}

.about-page > .text-container{
  margin: 3rem 1.5rem;
}

.about-page > .text-container > h2 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: 1rem;
}

.about-page > .text-container > p {
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: 1.8rem;
}

.about-page > .text-container > p > span{
  text-wrap: nowrap;
}

.about-page > .explore-link{
  margin: 3rem 1.5rem;
  padding: 2.1rem;
  background-color: #FFCC8D;
  border-radius: 4px;
}

.about-page > .explore-link > h3{
  font-size: 1.4rem;
}

.about-page > .explore-link > a{
  display: inline-block;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none;
}

.vans-page *{
  font-family: "Poppins", sans-serif;
} 

.vans-page {
  background-color: #FFF7ED;
  color: #000000;
  display: block;
}

.vans-page > .van-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: 3.5rem 1rem;
}

.vans-page > .van-list > .van-title{
  width: 14rem;
  height: 20rem;
  text-decoration: none;
  color: #000000;
}

.vans-page > .van-list > .van-title > img{
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 5px;
}

.vans-page > .van-list > .van-title > .van-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vans-page > .van-list > .van-title > .van-info > h3{
  font-size: 1.2rem;
  font-weight: 600;
}

.vans-page > .van-list > .van-title > .van-info > p{
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.vans-page > .van-list > .van-title > .van-info > p > span{
  font-weight: 500;
  font-size: 0.8rem;
}

.vans-page > .van-list > .van-title > .van-type,
.van-detail-page > .van-detail > .van-type {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-style: normal;
  text-transform: capitalize;
  color: #FFEAD0;
}

.simple {
  background-color: #E17654;
}

.rugged {
  background-color: #115E59;
}

.luxury {
  background-color: #161616;
}

.van-detail-page {
  background-color: #FFF7ED;
  color: #000000;
  display: flex;
}

.van-detail-page > .van-detail {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.5rem;
  width: 100%;
}

.van-detail-page > .van-detail > .vans-page-btn {
  text-decoration: none;
  color: #000000;
  margin-bottom: 3rem;
  font-weight: 600;
  border-bottom: 1px solid #000000;
  width: fit-content;
}

.van-detail-page > .van-detail > img {
  border-radius: 5px;
}

.van-detail-page > .van-detail > .van-type {
  margin-top: 3rem;
  width: auto;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.van-detail-page > .van-detail > h1 {
  margin-top: 1rem;
}

.van-detail-page > .van-detail > p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.van-detail-page > .van-detail > p > span {
  font-size: 1.2rem;
  font-weight: 500;
}

.van-detail-page > .van-detail > .van-description {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  line-height: 1.4rem;
}

.van-detail-page > .van-detail > .rent-btn {
  padding: 0.9rem;
  border-radius: 5px;
  font-style: normal;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #FF8C38;
  text-decoration: none;
  margin: 1.8rem 0 1rem 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  background-color: #252525;
  color: #AAAAAA;
  bottom: 0;
  font-size: 0.9rem;
}